html
  head
    title Buff 4Gamers
  body
    h1 Welcome
    form(action='/', method='POST')
      p
        | ID: 
        input(type='text', name='id', value='')
        //- | Views: 
        //- input(type='number', name='views', value='')
      input(type='submit', value='Submit')